{{>layout/header}}

<div class="col-md-12 text-center">
    <h1>HabitRacer</h1>
</div>
<div class="col-md-12">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h3>Have you completed your habit today?</h3>
            <a href="/posts/save" role="button" class="btn btn-dark">YES</a>
        </div>
    </div>
</div>


{{>layout/footer}}