{{>layout/header}}

<!-- nav bar -->
<nav class="navbar fixed-top navbar-expand-md navbar-light bg-white">
    <div class="container-xxl">
        <a href="#intro" class="navbar-brand">
            <span class="fw-bold text-secondary">
                HabitRacer
            </span>
        </a>
        <!-- Toggle button for mobile nav -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- navbar links -->
        <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#races">Your Races</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#topics">About HabitRacer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Get in Touch</a>
                </li>
                <!-- display Log-out / Sign-in depending on status -->
                {{#userName}}
                    <li class="nav-item ms-2 d-none d-md-inline">
                        <a class="btn btn-secondary" href="#pricing"><i class="bi bi-person-circle"></i> Log-out</a>
                    </li>
                {{/userName}}
                {{^userName}}
                    <li class="nav-item ms-2 d-none d-md-inline">
                        <a class="btn btn-secondary" href="/oauth2/authorization/google"><i class="bi bi-google"></i> Sign-in</a>
                    </li>
                {{/userName}}
            </ul>
        </div>
    </div>
</nav>

<!-- main image and intro text -->
<section id="intro">
    <div class="container-lg my-5">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-5 text-center text-md-start">
                <h1>
                    <div class="display-2">The F1</div>
                    <div class="display-5 text-muted">amongst Habit Trackers</div>
                </h1>
                <p class="lead my-4 text-muted">Why just <em>track</em> when you can race?</p>
                <a href="#races" class="btn btn-secondary btn-lg">Start</a>
            </div>
            <div class="col-md-5 text-center d-none d-md-block">
                <img src="/images/race-track.png" alt="race-track" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<div class="col-md-12 text-center">
    <h1>HabitRacer</h1>
</div>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            {{#userName}}
                Logged in as: <span id="user">{{userName}}</span>
                <a href="/logout" class="btn btn-info active" role="button">Logout</a>
            {{/userName}}
            {{^userName}}
                <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
            {{/userName}}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h3>Let's get racing!</h3>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <a href="/race/save" class="btn btn-success active" role="button">Start a Race</a>
            <a href="/race/join" class="btn btn-outline-success" role="button">Join a Race</a>
        </div>
    </div>
    <br>
    <h2>Your races:</h2>
    <!--  Table displaying progress  -->
    <div class="row justify-content-around">
        <div class="col-md-5">
            <table class="table table-horizontal table-bordered table-striped text-center">
                <thead class="thead-strong">
                <tr>
                    <th>Ongoing Races</th>
                    <th>RACEID</th>
                </tr>
                </thead>
                <tbody id="tbody">
                {{#raceList}}
                    <tr>
                        <td><a href="/race/{{id}}">{{raceName}}</a>🔥</td>
                        <td>{{id}}</td>
                    </tr>
                {{/raceList}}
                </tbody>
            </table>
        </div>
    </div>
</div>


{{>layout/footer}}