{{>layout/header}}
<h1>Edit your record</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
<!--                <label for="id">Post ID</label>-->
                <input type="hidden" id="id" value="{{post.id}}">
            </div>
            <div class="form-group">
                <label for="date">Date</label>
                <input type="date" class="form-control" id="date" value="{{post.date}}">
            </div>
            <div class="form-group">
                <label for="comment">Comment</label>
                <textarea class="form-control" id="comment">{{post.comment}}</textarea>
            </div>
        </form>
        <a href="/race/{{raceId}}" role="button" class="btn btn-light">Cancel</a>
        <button type="button" class="btn btn-dark" id="btn-update">Update</button>
        <button type="button" class="btn btn-danger" id="btn-delete">Delete</button>
        <input type="hidden" id="raceId" value="{{raceId}}">
    </div>
</div>

{{>layout/footer}}
