{{>layout/header}}
<!-- nav bar -->
<nav class="navbar fixed-top navbar-expand-md navbar-light bg-white">
    <div class="container-xxl">
        <a href="/" class="navbar-brand">
                <span class="fw-bold text-secondary">
                    HabitRacer
                </span>
        </a>
        <!-- Toggle button for mobile nav -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- navbar links -->
        <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/#races">Your Races</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#contact">Get in Touch</a>
                </li>
                <li class="nav-item ms-2 d-none d-md-inline">
                    <a class="btn btn-secondary" href="/logout"><i class="bi bi-person-circle"></i> Log-out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- intro and race stats section -->
<section id="race-stats">
    <div class="container-lg my-5">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-5 text-center text-md-start">
                <h1>
                    <!-- insert race Name -->
                    <div class="display-5">{{race.raceName}}</div>
                    <!-- insert userNames -->
                    <div class="display-6 text-muted">{{fstUserName}} vs. {{sndUserName}}</div>
                </h1>
                <!-- insert daysUntilEnd -->
                <p class="lead my-4 text-muted">Have you completed your habit today?</p>
                <span class="tt" data-bs-placement="left" title="You can record previous success records which you've forgotten to add.">
                    <a href="/race/{{race.id}}/posts/save" class="btn btn-secondary btn-lg">Record Success</a>
                </span>
            </div>
            <div class="col-md-5 text-center d-none d-md-block">
                <div class="lead" style="font-weight: bold; text-decoration: underline;">Race Stats</div>

                <table class="table table-striped mt-2">
                    <thead></thead>
                    <tbody>
                        <tr>
                            <th scope="row">Wager</th>
                            <td>{{race.wager}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Days Since Starting Line</th>
                            <td>{{raceTimeInfo.daysFromStart}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Days Until Finish Line</th>
                            <td>{{raceTimeInfo.daysUntilEnd}}</td>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col">Racer 1</th>
                            <th scope="col">Racer 2</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Name</th>
                            <td>{{fstUserName}}</td>
                            <td>{{sndUserName}}</td>
                            </tr>
                        <tr>
                            <th scope="row">Habit-to-Build</th>
                            <td>{{race.fstUserHabit}}</td>
                            <td>{{sndUserHabit}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Success Count</th>
                            <td>{{fstUserSuccessCount}} / {{raceTimeInfo.daysFromStart}}</td>
                            <td>{{sndUserSuccessCount}} / {{raceTimeInfo.daysFromStart}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Success Percentage</th>
                            <td>~ {{fstUserSuccessPercent}} %</td>
                            <td>~ {{sndUserSuccessPercent}} %</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {{^race.sndUserHabit}}
        <div class="row justify-content-center">
            <div class="col-md-5 text-center">
                <p class="lead my-4 text-muted">Share this race code with your competitor</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-2 text-center">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="raceId" value="{{race.id}}" readonly>
                    <div class="input-group-append">
                            <span class="tt" data-bs-placement="right" title="Press to copy">
                                <button class="btn btn-outline-secondary" type="button" onclick="copy_to_clipboard()" id="copy-btn"><i class="bi bi-clipboard"></i>‎</button>
                            </span>
                    </div>
                </div>
            </div>
        </div>
        {{/race.sndUserHabit}}
    </div>
</section>

<!-- the race -->
<section id="race" class="bg-light mt-3">
    <div class="container-lg">
        <div class="text-center">
            <h2>The Race</h2>
            <p class="lead text-muted">Claim the pole position to win the wager.</p>
        </div>
        <div class="row my-5 justify-content-center flex-nowrap">
            <div class="col col-md-3 mb-3">
                <table class="table table-striped table-dark text-center">
                    <thead>
                        <tr>
                            <th scope="col">{{fstUserName}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#fstUserPosts}}
                            <tr>
                                <td><a href="/posts/update/{{id}}">{{date}}</a></td>
                            </tr>
                        {{/fstUserPosts}}
                        <tr>
                            <td>🏎️</td>
                        </tr>
                        </tbody>
                </table>
            </div>
            <div class="col col-md-3 mb-3">
                <table class="table table-striped table-dark text-center">
                    <thead>
                        <tr>
                            <th scope="col">{{sndUserName}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#sndUserPosts}}
                            <tr>
                                <td><a href="/posts/update/{{id}}">{{date}}</a></td>
                            </tr>
                        {{/sndUserPosts}}
                        <tr>
                            <td>🏎️</td>
                        </tr>
                        </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row text-center justify-content-center mt-3">
        <div class="col-6">
            <!-- MODAL TRIGGER -->
            <button class="btn btn-outline-secondary btn-lg mt-3" data-bs-toggle="modal" data-bs-target="#chat-log-modal"><i class="bi bi-mailbox2"></i> View Mailbox</button>
        </div>
    </div>
</section>

<!-- modal -->
<div class="modal fade" id="chat-log-modal" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title">Mailbox</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>You can view all messages sent throughout the competition.</p>
                {{#messageListResponseDto}}
                    <div class="container">
                        <div class="row justify-content-between">
                            <div class="col-9" style="padding: 0 0;"><p><strong>{{userName}}</strong>: {{comment}}</p></div>
                            <div class="col-3 text-muted">{{createdDate}}</div>
                        </div>
                    </div>
                {{/messageListResponseDto}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>
            </div>
        </div>
    </div>
</div>


<!-- contact -->
<section id="contact">
    <div class="container-lg">
        <div class="text-center">
            <h2>Get in Touch</h2>
            <p class="lead">Questions to ask? Reach me directly through my contacts...</p>
            <p><i class="bi bi-github"></i> binchoi</p>
            <p><i class="bi bi-envelope-fill"></i> binchoi@u.yale-nus.edu.sg</p>
        </div>

    </div>
</section>

<script>
    function copy_to_clipboard() {
        var copyText = document.getElementById("raceId");
        copyText.select();
        document.execCommand("Copy");
        alert("Race code has been copied. Share it with your competitor to begin racing. 🏎️")
    }
</script>
{{>layout/footer}}