{{>layout/header}}
<!-- nav bar -->
<nav class="navbar fixed-top navbar-expand-md navbar-light bg-white">
    <div class="container-xxl">
        <a href="/" class="navbar-brand">
                <span class="fw-bold text-secondary">
                    HabitRacer
                </span>
        </a>
        <!-- Toggle button for mobile nav -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- navbar links -->
        <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/#races">Your Races</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Get in Touch</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/{{user.id}}">My Profile</a>
                </li>
                <li class="nav-item ms-2 d-none d-md-inline">
                    <a class="btn btn-secondary" href="/logout"><i class="bi bi-person-circle"></i> Log-out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{{#raceTimeInfo.isOver}}
<section id="result-header" style="margin-top:60px; padding:0 0;">
    <div class="container-lg">
        <div class="row justify-content-center text-center" style="background-color: lightgray;">
            <span class="display-6 text-secondary">🏁 🏁 🏁 🏁 🏁</span>
        </div>
    </div>
</section>
{{/raceTimeInfo.isOver}}

<!-- intro and race stats section -->
<section id="race-stats" {{#raceTimeInfo.isOver}}style="padding-top: 0;"{{/raceTimeInfo.isOver}}>
    <div class="container-lg my-5">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-5 text-center text-md-start">
                <h1>
                    <!-- insert race Name -->
                    <div class="display-5">{{raceOverview.raceName}}</div>
                    <!-- insert userNames -->
                    <div class="display-6 text-muted">{{raceOverview.fstUserName}} vs. {{raceOverview.sndUserName}}</div>
                </h1>
                {{^raceTimeInfo.isOver}}
                <p class="lead my-4 text-muted">Have you completed your habit today?</p>
                <span class="tt" data-bs-placement="left" title="You can record previous success records which you've forgotten to add.">
                    <a href="/race/{{raceOverview.id}}/posts/save" class="btn btn-secondary btn-lg">Record Success</a>
                </span>
                {{/raceTimeInfo.isOver}}
                {{#raceTimeInfo.isOver}}<p class="lead my-4 text-muted">Congratulations on finishing the race! 👏</p>{{/raceTimeInfo.isOver}}
            </div>
            <div class="col-md-5 text-center d-none d-md-block">
                <div class="lead" style="font-weight: bold; text-decoration: underline;">RACE STATS</div>

                <table class="table table-striped mt-2">
                    <thead></thead>
                    <tbody>
                        <tr>
                            <th scope="row">Wager</th>
                            <td>{{raceOverview.wager}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Days Since Starting Line</th>
                            <td>{{raceTimeInfo.daysFromStart}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Days Until Finish Line</th>
                            <td>{{raceTimeInfo.daysUntilEnd}}</td>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col">Racer 1</th>
                            <th scope="col">Racer 2</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Name</th>
                            <td>
                                {{^raceTimeInfo.isOver}}{{#raceOverview.fstUserVictory}}🔥{{/raceOverview.fstUserVictory}}{{/raceTimeInfo.isOver}}
                                {{#raceTimeInfo.isOver}}{{#raceOverview.fstUserVictory}}🏆{{/raceOverview.fstUserVictory}}{{/raceTimeInfo.isOver}}
                                 {{raceOverview.fstUserName}}
                                {{#raceTimeInfo.isOver}}{{#raceOverview.fstUserVictory}}🏆{{/raceOverview.fstUserVictory}}{{/raceTimeInfo.isOver}}
                                {{^raceTimeInfo.isOver}}{{#raceOverview.fstUserVictory}}🔥{{/raceOverview.fstUserVictory}}{{/raceTimeInfo.isOver}}
                            </td>
                            <td>
                                {{^raceTimeInfo.isOver}}{{^raceOverview.fstUserVictory}}🔥{{/raceOverview.fstUserVictory}}{{/raceTimeInfo.isOver}}
                                {{#raceTimeInfo.isOver}}{{^raceOverview.fstUserVictory}}🏆{{/raceOverview.fstUserVictory}}{{/raceTimeInfo.isOver}}
                                 {{raceOverview.sndUserName}}
                                {{#raceTimeInfo.isOver}}{{^raceOverview.fstUserVictory}}🏆{{/raceOverview.fstUserVictory}}{{/raceTimeInfo.isOver}}
                                {{^raceTimeInfo.isOver}}{{^raceOverview.fstUserVictory}}🔥{{/raceOverview.fstUserVictory}}{{/raceTimeInfo.isOver}}
                            </td>
                            </tr>
                        <tr>
                            <th scope="row">Habit-to-Build</th>
                            <td>{{raceOverview.fstUserHabit}}</td>
                            <td>{{raceOverview.sndUserHabit}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Success Count</th>
                            <td>{{raceOverview.fstUserSuccessCount}} / {{raceTimeInfo.daysFromStart}}</td>
                            <td>{{raceOverview.sndUserSuccessCount}} / {{raceTimeInfo.daysFromStart}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Success Percentage</th>
                            <td>~ {{raceOverview.fstUserSuccessPercent}} %</td>
                            <td>~ {{raceOverview.sndUserSuccessPercent}} %</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {{^raceOverview.sndUserId}}
        <div class="row justify-content-center">
            <div class="col-md-5 text-center">
                <p class="lead my-4 text-muted">Share this race code with your competitor</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-3 col-md-2 text-center">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="raceId" value="{{raceOverview.id}}" readonly>
                    <div class="input-group-append">
                            <span class="tt" data-bs-placement="right" title="Press to copy">
                                <button class="btn btn-outline-secondary" type="button" onclick="copy_to_clipboard()" id="copy-btn"><i class="bi bi-clipboard"></i>‎</button>
                            </span>
                    </div>
                </div>
                <input type="text" class="form-control" id="raceIdMessage" style='display:none' value="I challenge you to a Habit Race! Let's build habits together over a wager of '{{raceOverview.wager}}'. Join the race by entering our race code '{{raceOverview.id}}' at https://habitracer.com">
            </div>
        </div>
        {{/raceOverview.sndUserId}}
    </div>

    <!-- result -->
    {{#raceTimeInfo.isOver}}
    <div class="container-lg">
        <div class="text-center">
            <h2>The Podium</h2>
            <p class="lead text-muted">The furious race has come to an end.</p>
            <div class="row justify-content-center">
                <div class="col-10 col-lg-8 mb-3">
                    <div class="card border-1">
                        <div class="card-body text-center py-4">
                            <h4 class="card-title">Post-Race Review</h4>
                            <p class="card-text mx-5 text-muted d-block">"The curtain has come down on the epic battle '{{raceOverview.raceName}}' between {{raceOverview.fstUserName}} and {{raceOverview.sndUserName}}. We have witnessed a spectacular display of skill and grit from both racers. However, only one came out victorious as a champion.</p>
                            <p class="card-text text-muted d-block">The champion is the great, the irreplaceable <b>{{raceOverview.winnerName}}</b>. While the elite racer {{raceOverview.loserName}} put up a strong fight, they could not claim their position on the top podium by a difference of {{raceOverview.postDifference}} records.</p>
                            <p class="card-text text-muted d-block">{{raceOverview.loserName}}, we applaud your sportsmanship and humility in faithfully following through with the proposed wager of '{{raceOverview.wager}}'. I pass my deepest congratulations to both drivers!"</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/raceTimeInfo.isOver}}
</section>

<!-- the race -->
<section id="race" class="bg-light mt-3">
    <div class="container-lg">
        <div class="text-center">
            <h2>The Race</h2>
            <p class="lead text-muted">Claim the pole position to win the wager.</p>
        </div>
        <div class="row my-5 justify-content-center flex-nowrap">
            <div class="col col-md-3 mb-3">
                <table class="table table-striped table-dark text-center">
                    <thead>
                        <tr>
                            <th scope="col">{{raceOverview.fstUserName}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#raceOverview.fstUserPosts}}
                            <tr>
                                <td><a href="/posts/update/{{id}}">{{date}}</a></td>
                            </tr>
                        {{/raceOverview.fstUserPosts}}
                        <tr>
                            <td style="font-size: 43px;">
                                {{^raceTimeInfo.isOver}}{{#raceOverview.fstUserVictory}}✨{{/raceOverview.fstUserVictory}}{{/raceTimeInfo.isOver}}
                                {{#raceTimeInfo.isOver}}{{#raceOverview.fstUserVictory}}🎆{{/raceOverview.fstUserVictory}}{{/raceTimeInfo.isOver}}
                                 🏎
                                {{#raceTimeInfo.isOver}}{{#raceOverview.fstUserVictory}}🎆{{/raceOverview.fstUserVictory}}{{/raceTimeInfo.isOver}}
                                {{^raceTimeInfo.isOver}}{{#raceOverview.fstUserVictory}}✨{{/raceOverview.fstUserVictory}}{{/raceTimeInfo.isOver}}
                            </td>
                        </tr>
                        </tbody>
                </table>
            </div>
            <div class="col col-md-3 mb-3">
                <table class="table table-striped table-dark text-center">
                    <thead>
                        <tr>
                            <th scope="col">{{raceOverview.sndUserName}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#raceOverview.sndUserPosts}}
                            <tr>
                                <td><a href="/posts/update/{{id}}">{{date}}</a></td>
                            </tr>
                        {{/raceOverview.sndUserPosts}}
                        <tr>
                            <td style="font-size: 43px;">
                                {{^raceTimeInfo.isOver}}{{^raceOverview.fstUserVictory}}✨{{/raceOverview.fstUserVictory}}{{/raceTimeInfo.isOver}}
                                {{#raceTimeInfo.isOver}}{{^raceOverview.fstUserVictory}}🎆{{/raceOverview.fstUserVictory}}{{/raceTimeInfo.isOver}}
                                 🏎
                                {{#raceTimeInfo.isOver}}{{^raceOverview.fstUserVictory}}🎆{{/raceOverview.fstUserVictory}}{{/raceTimeInfo.isOver}}
                                {{^raceTimeInfo.isOver}}{{^raceOverview.fstUserVictory}}✨{{/raceOverview.fstUserVictory}}{{/raceTimeInfo.isOver}}
                            </td>
                        </tr>
                        </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row text-center justify-content-center mt-3">
        <div class="col-6">
            <!-- MODAL TRIGGER -->
            <button class="btn btn-outline-secondary btn-lg mt-3" data-bs-toggle="modal" data-bs-target="#chat-log-modal"><i class="bi bi-mailbox2"></i> View Mailbox</button>
        </div>
    </div>
</section>

<section id="actions" class="bg-light">
    <div class="container-lg">
        <div class="text-center">
            <h2>Edit the Race</h2>
            <p class="lead text-muted">You may update, extend, and/or delete the race when in consensus with your competitor</p>
            <a href="/race/update/{{raceOverview.id}}" class="btn btn-outline-secondary btn-lg mt-3"><i class="bi bi-pencil-square"></i> Edit Race</a>
        </div>
    </div>
</section>

<!-- modal -->
<div class="modal fade" id="chat-log-modal" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title">Mailbox</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="overflow-y:auto; max-height:400px">
                <p>You can view all messages sent throughout the competition.</p>
                {{#messageListResponseDto}}
                    <div class="container">
                        <div class="row justify-content-between">
                            <div class="col-9" style="padding: 0 0;"><p><strong>{{userName}}</strong>: {{comment}}</p></div>
                            <div class="col-3 text-muted">{{createdDate}}</div>
                        </div>
                    </div>
                {{/messageListResponseDto}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>
            </div>
        </div>
    </div>
</div>

<!-- contact -->
<section id="contact">
    <div class="container-lg">
        <div class="text-center">
            <h2>Get in Touch</h2>
            <p class="lead">Questions to ask? Reach me directly through my contacts.</p>
            <p><a href="https://github.com/binchoi" style="color: black"><i class="bi bi-github"></i></a> binchoi</p>
            <p><i class="bi bi-envelope-fill"></i> binchoi@u.yale-nus.edu.sg</p>
        </div>
    </div>
</section>

<script>
    function copy_to_clipboard() {
        var hidden = document.getElementById("raceIdMessage");
        hidden.style.display='block';
        hidden.select();
        document.execCommand("Copy");
        alert("Race code has been copied. Share it with your competitor to begin racing. 🏎️")
        hidden.style.display='none';
    }
</script>
{{>layout/footer}}