{{>layout/header}}

<h1>Join a new race!</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="raceId">Input the Race Id</label>
                <input type="number" class="form-control" id="raceId">
            </div>
            <button type="button" class="btn btn-primary" id="btn-redirect-to-join">Join</button>
        </form>
    </div>
</div>

{{>layout/footer}}