{{>layout/header}}

<div class="container-lg" style="padding: 60px 0;">
    <div class="text-center">
        <h2>Join the Race: {{race.raceName}}</h2>
        <h4 class="text-muted">You have been challenged by {{competitor}}</h4>
        <p class="lead">Begin your self-development rally by filling in the following fields.</p>
    </div>

    <div class="row justify-content-center my-5 mx-2">

        <div class="col-lg-6">
            <form>
                <label for="raceName" class="form-label">Race Name:</label>
                <div class="mb-3 input-group">
                    <span class="input-group-text">
                        <span class="tt" data-bs-placement="left" title="The race name has been decided by {{competitor}}.">
                            <i class="bi bi-trophy-fill"></i>
                        </span>
                    </span>
                    <input type="text" class="form-control" id="raceName" value="{{race.raceName}}" readonly>
                </div>

                <label for="wager" class="form-label">Wager:</label>
                <div class="mb-3 input-group">
                    <span class="input-group-text">
                        <span class="tt" data-bs-placement="left" title="This is what is at stake. Join at your own risk.">
                            <i class="bi bi-piggy-bank-fill"></i>
                        </span>
                    </span>
                    <input type="text" class="form-control" id="wager" value="{{race.wager}}" readonly>
                </div>


                <label for="startDate" class="form-label">Start Date:</label>
                <div class="mb-3 input-group">
                    <span class="input-group-text">
                        <span class="tt" data-bs-placement="left" title="{{competitor}} decided when the race begins.">
                            <i class="bi bi-play-fill"></i>
                        </span>
                    </span>
                    <input type="date" id="startDate" class="form-control" value="{{race.startDate}}" readonly>
                </div>


                <label for="endDate" class="form-label">End Date:</label>
                <div class="mb-3 input-group">
                    <span class="input-group-text">
                        <span class="tt" data-bs-placement="left" title="You have the final say of when the race ends.">
                            <i class="bi bi-stop-fill"></i>
                        </span>
                    </span>
                    <input type="date" id="endDate" class="form-control" value="{{race.endDate}}">
                </div>

                <label for="fstUserHabit" class="form-label">{{competitor}} will be building the habit of...</label>
                <div class="mb-3 input-group">
                    <span class="input-group-text">
                        <i class="bi bi-check-circle-fill"></i>
                    </span>
                    <textarea id="fstUserHabit" class="form-control" style="height: 100px;" readonly>{{race.fstUserHabit}}</textarea>
                </div>

                <label for="sndUserHabit" class="form-label">What is the habit you will build?</label>
                <div class="mb-3 input-group">
                    <span class="input-group-text">
                        <span class="tt" data-bs-placement="left" title="Describe the habit and what you hope to accomplish each day in detail.">
                            <i class="bi bi-check-circle-fill"></i>
                        </span>
                    </span>
                    <textarea id="sndUserHabit" class="form-control" style="height: 100px;" placeholder="Exercise at least 30 minutes a day at the fitness gym"></textarea>
                </div>

                <input type="hidden" id="sndUserId" value="{{sndUserId}}">
                <input type="hidden" id="raceId" value="{{race.id}}">

                <div class="mb-4 mt-1 text-center">
                    <a href="/" role="button" class="btn btn-outline-secondary">Cancel</a>
                    <button type="button" class="btn btn-secondary" id="btn-join-race">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

{{>layout/footer}}